@charset "utf-8";

/*
   This file contains the audio video settings used by the birthday page.
	
	Author: Ibing Maharlika
   Date: 10/28/24
*/

/*=================================================================
	Video setting
===================================================================*/
video {
	width: 100%;
	height: 50%;
	display: block;
	margin: 20px auto 0 auto;
}


/*=================================================================
	Audio setting
===================================================================*/
audio{
	width: 100%;
	height:10%;	
	display: block;
	margin: 270px auto 0 auto;
}

@media only screen and (max-width: 480px) {
	audio{
		width: 100%;
		height:10%;	
		display: block;
		margin: 20px auto 0 auto;
	}
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
	audio {
		margin: 30px auto 0 auto;
	}
}
